{% extends "admin/base.html" %}
{% load static %}

{% block title %}I Want More Admin{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'admin/custom.css' %}">
{% endblock %}
{% block extrahead %}
    {{ block.super }}
    <link rel="icon" href="{% static 'imgs/logo.jpg' %}" type="image/x-icon">
{% endblock %}
{% block branding %}
    <div style="display: flex; align-items: center;">
        <img src="{% static 'imgs/iwm.png' %}" alt="I Want More Logo" style="height: 40px; margin-right: 10px;">
        <h1 style="color: #fff;margin: 0;">I Want More Admin Panel</h1>
    </div>
{% endblock %}

